### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Maven ###
target/

### npm ###
node_modules/
dist/
package-lock.json

### Angular ###
.angular/

src/slides/*
src/css/slides/*

!src/slides/Tutorial
!src/css/slides/Tutorial/