/* For two or more columns use outer list as flex container. */
[data-title="Styling - two columns list"] p + ul {
  display: flex;
  justify-content: space-between;
}

[data-title="Styling - two columns list"] p + ul > li {
  width: 45%;
}

[data-title="Styling - image styling"] img[alt="Fox"] {
  width: 20%;
  margin: auto;
  display: block;
}

[data-title="Styling - image styling"] figure.auto-image + p {
  text-align: center;
}
